TaskDEV11/WebServiceDEV11.Test/Web References/OurEraDayQuantityRef/GetterDaysService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDayQuantity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDayQuantityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDayQuantityResult" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDayQuantitySoapIn">
    <wsdl:part name="parameters" element="tns:GetDayQuantity" />
  </wsdl:message>
  <wsdl:message name="GetDayQuantitySoapOut">
    <wsdl:part name="parameters" element="tns:GetDayQuantityResponse" />
  </wsdl:message>
  <wsdl:portType name="GetterDaysServiceSoap">
    <wsdl:operation name="GetDayQuantity">
      <wsdl:input message="tns:GetDayQuantitySoapIn" />
      <wsdl:output message="tns:GetDayQuantitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetterDaysServiceSoap" type="tns:GetterDaysServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDayQuantity">
      <soap:operation soapAction="http://tempuri.org/GetDayQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetterDaysServiceSoap12" type="tns:GetterDaysServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDayQuantity">
      <soap12:operation soapAction="http://tempuri.org/GetDayQuantity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetterDaysService">
    <wsdl:port name="GetterDaysServiceSoap" binding="tns:GetterDaysServiceSoap">
      <soap:address location="http://localhost:62811/GetterDaysService.asmx" />
    </wsdl:port>
    <wsdl:port name="GetterDaysServiceSoap12" binding="tns:GetterDaysServiceSoap12">
      <soap12:address location="http://localhost:62811/GetterDaysService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>